<!-- <h1>Register</h1>
<form action="" method="post" enctype="multipart/form-data">
    Name:
    <input type="text" name="name" id="name" placeholder="Enter you name" required>
    <br><br>
    Email:
    <input type="email" name="email" id="email" placeholder="Enter your email" required>
    <br><br>
    Profile Image:
    <input type="file" name="image" id="file">
    <br><br>
    Password:
    <input type="password" name="password" id="password" placeholder="Enter password" required>
    <br><br>
    <input type="submit" value="Register">
</form>
<% if(typeof message !== 'undefined'){ %>
    <p style="color: green;"><%= message %></p>
<% } %> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat App - Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="register-container">
        <h1>Register</h1>
        <form action="/register" method="post" enctype="multipart/form-data" class="register-form">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter your name" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>

            <label for="file">Profile Image:</label>
            <input type="file" name="image" id="file">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password" required>

            <input type="submit" value="Register" class="btn-submit">
        </form>

        <% if (typeof message !=='undefined' ) { %>
            <p class="success-message">
                <%= message %>
            </p>
            <p>Go to login page after successfull registration!<a href="/">login</a></p>
            <% } else{ %>
                <p>D you have an account already? then <a href="/">login</a></p>
            <%}%>
    </div>
</body>

</html>