body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

.container {
    max-width: 400px;
    margin: 0 ;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button>a{
    /* text-decoration: none; */
    color: white;
}

h1 {
    text-align: center;
}

.profile-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.profile-info p {
    margin: 5px 0;
}

.option {
    margin-bottom: 20px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

button:hover {
    background-color: #4cae4c;
}
#profileImage{
    position: absolute;
    top:170px;
    left:1000px;
    border: 2px solid black;
}